* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body{
  font-family: "Mont-Regular", sans-serif !important;
  font-size: 1em;
}
h1{
  font-weight: 500;
  font-size: 6.875em !important;
  line-height: 7.5em;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Bodoni bold cyrillic';
}
h2{
  font-size: 4em !important;
  font-weight: 500;
  line-height: 5.1875em;
  color: #FFFFFF;
  font-family: 'Bodoni Regular';
}
h3 {
  color: #637588;
  font-size: 1.125rem;
}
p {
  color: #637588;
}
a {
  text-decoration: none !important;
}
li{
  list-style-type: none;
}
.title-repeat{
  position: relative;
  font-weight: 500;
  font-size: 64px !important;
  line-height: 83px;
  color: #FFFFFF;
  letter-spacing: 0.67165px;
  font-family: 'Bodoni Regular';
}
.title-repeat:before{
  position: absolute;
  top: 45px;
  left: -340px;
  width: 220px;
  height: 3px;
  content: "";
  background-color: #666666;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:hover, select:focus{
  border: 1px solid transparent;
}
option{
  background: #F55449;
  font-size: 18px;
}
.collapse:not(.show) {
  display: none !important;
}
.advantage-container {
  .hidden-mobile{
     display: none;
  }
}
.rus_lang {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 50px;
}
.rus_lang {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 50px;
}
.loader {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgray;
}

.disapper {
  animation: vanish 0s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}




  @media (max-width: 1800px) {
  h2 {
    font-size: 3.125em !important;
    line-height: 3.125em;
  }
  .title-repeat {
    font-size: 50px !important;
  }
}
@media (max-width: 1600px) {
  .title-repeat {
    font-size: 40px !important;
    line-height: 50px;
  }
  .title-repeat:before {
    left: -250px;
    top: 25px;
  }
}

@media (max-width: 1200px) {
 h2 {
    font-size: 2.5em !important;
    line-height: 2.5em;
  }
}
@media(max-width: 992px){
  .title-repeat {
    padding-top: 30px;
  }
  .title-repeat:before {
    left: -50px !important;
    top: 0 !important;
    bottom: 0;
    right: 0;
  }
  .advantage-container {
    .hidden-decktop{
      display: none;
  }
    .hidden-mobile{
      display: block;
      background: #F55449;
      width: 100%;
      border-radius: 0;
      margin-top: 35px;
    }
  }
}
@media(max-width: 540px) {
  h1{
    font-size: 60px;
    line-height: 80px;
    font-family: 'Mont';
  }
  h2 {
    font-size: 34px !important;
    line-height: 44px;
  }
  .title-repeat {
    font-size: 34px !important;
    padding-top: 30px;
    line-height: 55px;
  }
  .team .title__team {
    margin-left: 0 !important;
    font-size: 34px !important;
    line-height: 44px;
  }
}
















