* {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body{
  font-family: "Mont-Regular", sans-serif !important;
  font-size: 1em;
}
h1{
  font-weight: 500;
  font-size: 6.875em !important;
  line-height: 7.5em;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Bodoni bold cyrillic';
}
h2{
  font-size: 4em !important;
  font-weight: 500;
  line-height: 5.1875em;
  color: #FFFFFF;
  font-family: 'Bodoni Regular';
}
h3 {
  color: #637588;
  font-size: 1.125rem;
}
p {
  color: #637588;
}
a {
  text-decoration: none !important;
}
li{
  list-style-type: none;
}
.title-repeat{
  position: relative;
  font-weight: 500;
  font-size: 64px !important;
  line-height: 83px;
  color: #FFFFFF;
  letter-spacing: 0.67165px;
  font-family: 'Bodoni Regular';
}
.title-repeat:before{
  position: absolute;
  top: 45px;
  left: -340px;
  width: 220px;
  height: 3px;
  content: "";
  background-color: #666666;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:hover, select:focus{
  border: 1px solid transparent;
}
option{
  background: #F55449;
  font-size: 18px;
}
.collapse:not(.show) {
  display: none !important;
}
.rus_lang {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.rus_lang {
  position: absolute;
  top: -9999px;
  left: -9999px;
}



.w-100{
  height: 100vh !important;
}
.section-pink  {
  .hidden-mobile{
    display: none;
  }
}
.privacy-info{
  margin-top: 112px;
  padding: 25px 100px 60px 85px;
  @media (max-width: 1800px) {
    padding: 20px 20px;
  }
  p{
    font-size: 12px;
  }
  .back-btn {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 21px;
    text-transform: uppercase;
    color: #072652;
    font-family: 'Mont';
    margin-bottom: 70px;

    &:hover{
      opacity: 0.8;
      color: #072652;
    }
  }
  img{
    margin-right: 20px;
  }
  .privacy-link{
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #6B6B6B;
    margin-bottom: 30px;
    display: block;
    font-family: 'Mont';
    font-weight: bold;
  }
}





.loaderArea {
  background:  #F3E2DB;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 100px;
  width: 100px;
  position: absolute;
 
}


.demo {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: absolute;
	top: 40%;
	left: calc(50% - 50px);
}

.circle {
	width: 100%;
	height: 100%;
	position: absolute;
}

.circle .inner {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 5px solid #F55449;
	border-right: none;
	border-top: none;
	background-clip: padding;
	box-shadow: inset 0px 0px 10px #F55449;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.circle:nth-of-type(0) {
	transform: rotate(0deg);
}

.circle:nth-of-type(0) .inner {
	animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
	transform: rotate(70deg);
}

.circle:nth-of-type(1) .inner {
	animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
	transform: rotate(140deg);
}

.circle:nth-of-type(2) .inner {
	animation: spin 2s infinite linear;
}

.demo {
	animation: spin 5s infinite linear;
}


  @media (max-width: 1800px) {
  h2 {
    font-size: 3.125em !important;
    line-height: 3.125em;
  }
  .title-repeat {
    font-size: 50px !important;
  }
}
@media (max-width: 1600px) {
  .title-repeat {
    font-size: 40px !important;
    line-height: 50px;
  }
  .title-repeat:before {
    left: -250px;
    top: 25px;
  }
}

@media (max-width: 1200px) {
 h2 {
    font-size: 2.5em !important;
    line-height: 2.5em;
  }
}
@media(max-width: 992px){
  .title-repeat {
    padding-top: 30px;
  }
  .title-repeat:before {
    left: -50px !important;
    top: 0 !important;
    bottom: 0;
    right: 0;
  }
  .advantage-container {
    .hidden-decktop {
      display: none;
    }
  }
  .section-pink{
    .hidden-mobile{
      display: block;
      background: #F55449;
      width: 100%;
      border-radius: 0;
      margin-top: 35px;
    }
  }
  .header-btn__down {
    margin-bottom: 20px;
  }
  .w-100{
    height: 100% !important;
  }
}
@media(max-width: 540px) {
  h1{
    font-size: 60px;
    line-height: 80px;
    font-family: 'Bodoni bold cyrillic';
  }
  h2 {
    font-size: 34px !important;
    line-height: 44px;
  }
  .title-repeat {
    font-size: 34px !important;
    padding-top: 30px;
    line-height: 55px;
  }
  .team .title__team {
    margin-left: 0 !important;
    font-size: 34px !important;
    line-height: 44px;
  }
}
















