.footer{
  background: #072652;
  .footer-container{
    margin-left: 168px;
    padding: 33px 0 53px 0;
    margin-right: 214px;
    display: flex;
    justify-content: space-between;
    &__center{
       a{
         margin-top: 30px;
       }
    }
    &__left {
      img{
        margin-bottom: 2em;
    }
      a{
        font-weight: 600;
        font-size: 1em;
        line-height: 39px;
        color: #BFBFBF;
      }
    }
    &__right{
      nav ul{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .nav-link{
          font-weight: 500;
          font-size: 1em;
          line-height: 2em;
          color: #BFBFBF;
          margin-right: 2em;
          transition: 0.3s;
          border-bottom: 3px solid transparent;
          &:hover{
            border-bottom: 3px solid #F55449 !important;
          }
          &.last{
            margin-right: 0;
          }
        }
      }
      .footer-privacy {
        font-weight: 500;
        font-size: 1.1875em;
        line-height: 32px;
        letter-spacing: 0.67165px;
        text-decoration-line: underline !important;
        color: #BFBFBF;
        padding: 15px;
      }
      .footer-desc{
        font-weight: 600;
        font-size: 1.1875em;
        line-height: 32px;
        letter-spacing: 0.67165px;
        color: #BFBFBF;
        margin-bottom: 0;
        margin-top: 4em;
      }
    }
  }
}
@media (max-width: 1200px) {
.footer {
  .footer-container__left {
    margin-right: 100px;
  }
  .footer-container{
    margin-left: 100px;
  }
}
}
@media (max-width: 1000px) {
  .footer{
    .footer-container{
      display: block;
      margin-left: 0;
    }
    .footer-container__left{
      margin-right: 0;
      a{
        text-align: center;
      }
    }
    .footer-container__right nav ul{
      flex-direction: column;
      .nav-link{
        width: 100px;
        margin: 0 auto;
      }
      .nav-link.last{
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}
@media(max-width: 540px){
  iframe{
    display: none;
  }
}