.header {
  background-color: rgba(7, 38, 82, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 100;
  height: 114px;
  padding: 10px 85px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__active {
    background-color: rgb(7, 38, 82);
    z-index: 1000;
  }

  .header__nav {
    align-items: center;
    display: flex;
    margin-top: 20px;
    z-index: 100;

    a {
      font-weight: 400;
      font-size: 0.875em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2em;
      line-height: 20px;
      //padding: 10px;
      transition: 0.3s;
      border-bottom: 3px solid transparent;
      font-family: 'Bodoni Regular';
       &:hover{
         color: #F55449;
       }
    }

    &-block {
      display: flex;
      align-items: center;
    }
  }
    .btn-nav{
      .header-btn{
        border: 2px solid #F55449;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        color: #FFFFFF;
        transition: 0.5s;
        font-family: Bodoni;

        &:last-child{
          margin-left: 33px;
        }
        &:hover{
          background-color: #F55449;
        }
      }
    }
  }
.carousel-block{
    position: relative !important;
  background: linear-gradient(180deg, #506587 0%, rgba(124, 124, 124, 0) 48.44%, #506587 100%);

  .carousel-caption {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .slider-img{
    position: absolute;
    right: -13.125em;
    height: 80%;
    bottom: -2%;
  }
  .carousel-item{
    position: relative;
    background: linear-gradient(180deg, #506587 0%, rgba(124, 124, 124, 0) 48.44%, #506587 100%);
    mix-blend-mode: multiply;
  }
  .slider-img__bg{
    display: none;
  }
}
.carousel .carousel-indicators{
  bottom: 13em;
   & li{
     border-radius: 10px;
     width: 10px;
     height: 10px;
     background: #FFFFFF;
     opacity: 0.32;
     border: none;
     margin-right: 10px;
   }
  & .active{
    opacity: 1 !important;
  }
}
.carousel-caption h1 {
  margin: 0 auto;
  padding-bottom: 58px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
}

.header-navigation__btn {
  width: 40px;
  height: 37px;
  position: relative;

  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.header-navigation__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #F55449;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-navigation__btn-row:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

.header-navigation__btn-row:nth-child(odd) {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.header-navigation__btn-row:nth-child(1),
.header-navigation__btn-row:nth-child(2) {
  top: 0;
}

.header-navigation__btn-row:nth-child(3),
.header-navigation__btn-row:nth-child(4) {
  top: 15px;
}

.header-navigation__btn-row:nth-child(5),
.header-navigation__btn-row:nth-child(6) {
  top: 30px;
}

.header-navigation__btn--active span:nth-child(1),
.header-navigation__btn--active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-navigation__btn--active span:nth-child(2),
.header-navigation__btn--active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-navigation__btn--active span:nth-child(1) {
  left: 3px;
  top: 7px;
}

.header-navigation__btn--active span:nth-child(2) {
  left: calc(50% - 3px);
  top: 7px;
}

.header-navigation__btn--active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header-navigation__btn--active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header-navigation__btn--active span:nth-child(5) {
  left: 3px;
  top: 20px;
}

.header-navigation__btn--active span:nth-child(6) {
  left: calc(50% - 3px);
  top: 20px;
}
.btn-nav__mobile{
  display: none;
}
  @media (max-width: 1800px) {
    .carousel-caption h1 {
      margin: 0 auto;
    }
    .carousel-inner .slider-img{
      height: 80%;
      width: 40%;
    }
    .section-pink .advantage-title{
      font-size: 60px !important;
    }
  }
@media (max-width: 1600px) {
  .carousel-inner .slider-img{
    right: -150px;
  }
  .carousel-caption h1{
    font-size: 80px !important;
      padding-bottom: 18px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 10px 20px;
  }
  .carousel-caption h1 {
    font-size: 3em !important;
  }
  .carousel .carousel-indicators {
    bottom: 110px;
  }
  .w-100{
    height: 100%;
    object-fit: cover;
  }
  #carouselExample .carousel-block .carousel-item{
    height: 812px;
    background: linear-gradient(180deg, #506587 0%, rgba(124, 124, 124, 0) 48.44%, #506587 100%);
    mix-blend-mode: multiply;
  }
  #carouselExample .carousel-block{
    background: linear-gradient(180deg, #506587 0%, rgba(124, 124, 124, 0) 48.44%, #506587 100%);
  }
}


@media (max-width: 992px) {
  .header {
    height: 112px;
    padding: 10px 20px 10px 20px;
    .header__nav {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      background-color: rgba(57, 57, 57, 0.9);
      a{
        max-width: 110px;
      }
      &-block{
        padding: 10px;
      }
    }
    .header__nav--active {
      display: block !important;
    }
    .header-navigation__btn {
      display: block;
    }
    .header__list {
      display: block;
      position: absolute;
      top: 90px;
      right: 0;
      width: 260px;
      height: 100vh;
      text-align: left;
      padding: 50px 40px 0 40px;
      background-color: rgba(35, 53, 79, 0.8);

    }
    .header__item-link {
      display: block;
      padding: 5px;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      color: #fff;
      font-weight: 800;
      font-size: 20px !important;
      line-height: 27px !important;
      margin-bottom: 50px;
    }
    .header__item {
      margin-right: 0;
    }
  }
  .btn-nav{
    display: none;
  }
  .carousel-inner .d-md-block {
    height: 80%;
  }
    .btn-nav__mobile {
      display: flex;
      justify-content: space-around;
      .header-btn__mobile {
        border: 2px solid #F55449;
        font-size: 18px;
        text-align: right;
        color: #FFFFFF;
        padding: 12px 40px;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.3s;
        height: 50px;


        &:hover {
          background-color: #F55449;
        }
      }
    }
  .carousel-caption h1 {
    padding-top: 50px !important;
  }
  .slider-img {
    display: none;
  }
  }
@media(max-width: 768px){
  .header-btn__down {
    margin-bottom: 24px;
    display: block;
  }
}
@media(max-width: 540px){
  .carousel-caption h1 {
    padding-top: 50px !important;
  }
  .carousel-inner .d-md-block .btn-nav__mobile .header-btn__mobile{
    font-size: 14px;
  }
  .btn-nav__mobile .header-btn__mobile {
    padding: 12px 20px !important;
    margin-top: 24px;
  }
}










